parameters:
    level: 7
    paths: [ src ]
    ignoreErrors:
        - identifier: deadCode.unreachable
        - identifier: empty.offset
        - identifier: if.alwaysFalse
        - identifier: if.alwaysTrue
        - identifier: method.unused
